# ~/Library/Application\ Support/com.mitchellh.ghostty/config
font-size = 16
font-feature = -calt
font-family = "Menlo Regular"
confirm-close-surface = false
window-subtitle = working-directory
macos-titlebar-style = tabs

# Regular vim cursor line color
palette = 4=#3b3f4c
cursor-style = block
shell-integration-features = no-cursor

working-directory = ~
window-new-tab-position = end

keybind = cmd+.=text:\\e:CodeActionOpen\n
keybind = cmd+c=text:\\e:echomsg expand('%')|let @+=expand('%')\n\n
keybind = cmd+h=text:\\e:BPrev\n
keybind = cmd+k=text:\\e:CloseAllOtherBuffers\n
keybind = cmd+l=text:\\e:BNext\n
keybind = cmd+m=text:\\e:Telescope marks\n
keybind = cmd+p=text:\\e:TelescopeFindFiles\n
keybind = cmd+s=text:\\e:write\n
keybind = cmd+w=text:\\e:SmartBD\n

keybind = cmd+shift+c=text:\\e:echomsg expand('%')|let @+=expand('%')\n\n
keybind = cmd+shift+f=text:\\e:TelescopeGrep\n\n
keybind = cmd+shift+g=text:\\e:GitStatus\n
keybind = cmd+shift+h=text:\\e:BufferLineMovePrev\n
keybind = cmd+shift+l=text:\\e:BufferLineMoveNext\n
keybind = cmd+shift+p=text:\\e:Telescope commands\n
keybind = cmd+shift+s=text:\\e:wall\n

keybind = option+backspace=text:\x1b\x7f
keybind = option+shift+d=text:\\e:CodeActionFixAll\n
keybind = option+shift+s=text:\\e:PrettierOrFormat\n
