# ~/Library/Application\ Support/com.mitchellh.ghostty/config
font-size = 24
font-feature = -calt
font-family = "Menlo Regular"
confirm-close-surface = false

working-directory = ~
window-new-tab-position = end

keybind = cmd+.=text:\\e:lua vim.lsp.buf.code_action({ layout = \"cursor\" })\n
keybind = cmd+h=text:\\e:BPrev\n
keybind = cmd+k=text:\\e:%bd|e#|bd# | silent! lua require'bufferline'.move_to(1)\n\n
keybind = cmd+m=text:\\e:Telescope marks\n
keybind = cmd+l=text:\\e:BNext\n
keybind = cmd+p=text:\\e:Telescope find_files --sort=modified\n
keybind = cmd+s=text:\\e:write\n
keybind = cmd+shift+s=text:\\e:wall\n
keybind = cmd+w=text:\\e:SmartBD\n

keybind = option+shift+s=text:\\e:Prettier\n
keybind = option+shift+d=text:\\e:lua vim.lsp.buf.code_action({ filter = function(action) return string.find(action.command.title, 'Fix all auto') end, apply = true })\n\n

keybind = cmd+shift+f=text:\\e:lua require('telescope.builtin').live_grep({ additional_args = { '--fixed-strings' }})\n\n
keybind = cmd+shift+g=text:\\e:GitStatus\n
keybind = cmd+shift+h=text:\\e:BufferLineMovePrev\n
keybind = cmd+shift+l=text:\\e:BufferLineMoveNext\n
keybind = cmd+shift+p=text:\\e:Telescope commands\n
